/*
 * Font settings
 */
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
body {
    font-family: 'Helvetica Neue Light', 'Helvetica Light', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', sans-serif;
}
h1, h2, h3 {
    font-weight: normal;
}
h3, h4, h5, p {
    margin: 0.5em 0;
}
.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
}

/*
 * Heading settings
 */
.remark-slide-content {
    font-size: 1.5em;
    padding: 0.5em 2em;
}
.remark-slide-content.title {
    padding: 0 2em;
}
.remark-slide-content.title {
    text-align: center;
}
.remark-slide-content.title::before {
    content: '';
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    background-color: #2980b9;
}
.remark-slide-content.title h1 {
    height: 65%;
    padding-top: 23%;
    margin: 0 0 0.7em 0;
}
.remark-slide-content.title p {
    position: relative;
    z-index: 1;
    color: #fff;
}
.remark-slide-content.title .remark-slide-number {
    color: #fff;
}
.remark-slide-content:not(.title):not(.blank)::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 4.5em;
    margin: 0;
    padding: 0;
    background-color: #2980b9;
}
.remark-slide-content:not(.title):not(.blank)::after {
    content: '';
    position: absolute;
    left: 1.2em;
    top: 0.9em;
    width: 0.6em;
    height: 2.7em;
    border: 1px solid #fff;
}
.remark-slide-content:not(.title):not(.blank) h2 {
    color: #fff;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0.25em 0 0.6em 0.5em;
}
.remark-slide-content h1 {
    font-size: 2.5em;
}
.remark-slide-content h2 {
    font-size: 1.7em;
}

/*
 * Bold text
 */
.bold {
    font-weight: bold;
}

/*
 * Link text
 */
a {
    color: #000;
}
a:hover {
    color: #888;
}
.remark-slide-content.title a {
    color: #fff;
}
.remark-slide-content.title a:hover {
    color: #888;
}

/*
 * Quotation
 */
.quote {
    font-family: serif;
    font-style: italic;
}
.quote::before {
    content: open-quote;
}
.quote::after {
    content: close-quote;
}

/*
 * Footnote
 */
.footnote {
    color: #888;
    font-size: 0.7em;
}

/*
 * Listing style
 */
ul>li {
    list-style: none;
    position: relative;
}
ul>li::before {
    content: "＊";
    position: absolute;
    left: -1.3em;
    color: #c0392b;
}

/*
 * Code block
 */
.remark-code {
    padding: 1em !important;
    border-radius: 10px;
    background-color: #ddd !important;
    word-wrap: break-word;
}

/*
 * Table
 */
table {
    border-collapse: separate;
    border-spacing: 2px;
}
table th, td {
    padding: 0.7em;
    background-color: #ddd;
}
table th:first-child {
    border-radius: 10px 0 0 0;
}
table th:last-child {
    border-radius: 0 10px 0 0;
}
table tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
table tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

/*
 * Image sizing
 */
.small img {
    max-height: 10em;
    min-height: 10em;
}
.middle img {
    max-height: 15em;
    min-height: 15em;
}
.large img {
    max-height: 20em;
    min-height: 20em;
}
